body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  @media @mobile-widths {
    min-width: 320px;
  }
  @media @desktop-widths {
    width: 1200px;
    margin: 0 auto;
  }
}
img {
  max-width: 100%;
  height: auto;
}
